barcelona/calendar.csv
barcelona/listings full.csv
barcelona/reviews full.csv
london/calendar.csv
london/listings full.csv
london/reviews full.csv
los angeles/calendar.csv
los angeles/listings full.csv
los angeles/reviews full.csv
