barcelona/calendar.csv
barcelona/listings full.csv
barcelona/reviews full.csv
london/calendar.csv
london/listings full.csv
london/reviews full.csv
los angeles/calendar.csv
los angeles/listings full.csv
los angeles/reviews full.csv
new york/calendar.csv
new york/listings full.csv
new york/reviews full.csv
cities/barcelona/calendar.csv
cities/barcelona/listings full.csv
cities/barcelona/reviews full.csv
cities/london/calendar.csv
cities/london/listings full.csv
cities/london/reviews full.csv
cities/los angeles/calendar.csv
cities/los angeles/listings full.csv
cities/los angeles/reviews full.csv
cities/new york/calendar.csv
cities/new york/listings full.csv
cities/new york/reviews full.csv
